body{
    margin: 0;
    background: rgba(222, 222, 222, 1);
}
ul{
    padding: 0;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

nav img {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    font-family: Saira Condensed;
    font-size: 42px;
    font-weight: 300;
    text-decoration: none; 
    color: #000; 
    padding-right: 50px;
}

.nav-links a:hover {
    text-decoration: underline;
}


.hamburger {
    display: none;
}

.text-btns-icons{
    margin-top: 70px;
    animation: slideInFromLeft 1s ease-out forwards;
}
.title-name{
    font-family: MonteCarlo;
    font-size: 96px;
    font-weight: 400;
    line-height: 80px;
    margin: 0;
}
.under-title-name{
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 200;
    line-height: 32px;
    text-align: left;
    margin-top: 20px;
}
.main-img {
    opacity: 0; 
    transition: opacity 1.5s ease-in-out;
    height: 600px;
}

.main-img.loaded {
    opacity: 1; 
}

.buttons{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}
.btn1{
    background-color: rgba(44, 44, 44, 1);
    color: white;
    text-decoration: none;
    font-family: Varta;
    padding: 15px 60px;
    border-radius: 7px;
    font-weight: 400;
    line-height: 16px;
}
.btn1:hover{
    background-color: rgb(14, 14, 14);
}
.web-top{
    display: flex;
    justify-content: center;
    padding: 10px 9% 0 15%;
    align-items: center;
}
.web-top-container{
    background-image: url(images/person.png);
    background-repeat: no-repeat;
    background-size: 925px;
    background-position-y: 20px;
    padding-bottom: 30px;
}
.witkowski-text{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.text-under-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.witkowski-text-img{
    margin-left: 18%;
}
.app-icons{
    margin-top: 50px;
    display: flex;
    gap: 100px;
}
.nike-text{
    font-family: MonteCarlo;
    font-size: 96px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.jego-historia-zyciowa-paragraphs{
    display: flex;
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    text-align: left; 
    gap: 50px;
    justify-content: space-between;   
}
.jego-historia-zyciowa{
    color: white;
    background-image: url(images/Vector3.png);
    padding: 60px 10% 120px 10%;
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;

}
.jego-historia-zyciowa-title{
    font-family: Tinos;
    font-size: 48px;
    font-weight: 400;
    line-height: 55.2px;
    text-align: center;
}
.history-text{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 40px;
}
.text-arrow{
    position: relative;
    text-align: right;
}
.arrow {
    transition: transform 0.3s ease; /* Płynna animacja obrotu */
}

.rotate {
    transform: rotate(180deg); /* Obrócenie strzałki o 180 stopni */
}

.arrow1{
    position: absolute; /* Absolutne pozycjonowanie */
    right: 10px; /* Odległość od prawej krawędzi */
    top: 50%; /* Centrowanie w pionie */
    width: 15px; /* Szerokość hr */
    height: 2px; /* Wysokość hr */
    background-color: #ffffff; /* Kolor hr */
    border: none; /* Brak obramowania */
    transform: translateY(4px) translateX(33px) rotate(45deg); /* Obrót i centrowanie */
}
.arrow2{
    width: 15px;
    position: absolute; /* Absolutne pozycjonowanie */
    right: 10px; /* Odległość od prawej krawędzi */
    top: 50%; /* Centrowanie w pionie */
    height: 2px;
    border: none;
    background-color: #ffffff;
    transform: translateY(14px) translateX(33px) rotate(315deg); 
}
.arrow3{
    width: 309px;
    position: absolute; /* Absolutne pozycjonowanie */
    right: 10px; /* Odległość od prawej krawędzi */
    top: 50%; /* Centrowanie w pionie */
    height: 2px;
    border: none;
    background-color: #ffffff;
    transform: translateY(9px) translateX(30px); 
}
.text-over{
    font-family: Josefin Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;  
    margin: 10px 0 30px 0;
}
 
    
.books{
    transform: translate(-150px, 400px);
}
.book-container {
    margin-top: 100px;
    position: relative;
    height: 70vh;
    padding-bottom: 0px;
    background: rgba(222, 222, 222, 1);

}
.book-container h3{
    font-family: Roboto Slab;
    font-size: 24px;
    font-weight: 400;
    transform: translate(-360px, 550px)
}
.book-container p{
    font-family: Josefin Sans;
    font-size: 30px;
    font-weight: 300;
    width: 694px;
}
.book {
    position: absolute;
    width: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 100px;
}

.book1 {
    top: 10%; /* Odległość od górnej krawędzi */
    left: 10%;
    transform: translate(0, 0) scale(2);
    margin: 0;
}

.book2 {
    top: 55%; /* Zwiększenie odległości między książkami */
    left: 10%;
    transform: translate(0, -50%) scale(2);
}

.book3 {
    top: 15%; /* Pozycja środkowa książki */
    left: 35%;
    transform: translate(-50%, -50%) scale(4); /* Książka na środku jest od razu większa i wycentrowana */
    margin-top: 200px;
}

.book-container2 {
    display: none;/* potem dam flex*/
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    margin-bottom: 100px;
    background-color: #f4f4f4;
    flex-direction: column; /* Zmieniamy kierunek na pionowy */
    align-items: center;
    position: relative;
    background: rgba(222, 222, 222, 1);
}

.book-bar {
    display: flex;
    flex-direction: row; /* Ustawienie książek poziomo nad główną książką */
    gap: 10px;
    margin-bottom: 100px; /* Odstęp między paskiem a główną książką */
    
}

.book-thumbnail {
    width: 250px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.book-thumbnail:hover {
    transform: scale(1.1);
}

.main-book {
    position: relative;
    margin-left: 1%;
    align-items: center;
    width: 100%;
}
.right-side2 {
    font-family: Josefin Sans;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}

.sub-title2 {
    color: red;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px; /* Odstęp między tytułem a tekstem */
    text-align: left;
}

.text-container2{
    position: absolute;
    top: 20px;
    width: 300px;
    margin-top: 60px;
    margin-left: 520px;
}

.text-container2 p{
    font-size: 20px;
    width: 300px;
}
.book-image {
    width: 500px;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hide {
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.show {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.wywiady-title{
    font-family: Tinos;
    font-size: 64px;
    font-weight: 400;
    line-height: 73.59px;
    margin-top: 0;
}
.wywiady{
    margin: 50px 10%;
}
.img-n-arrow-text{
    position: relative;
    text-align: center;
}

.wywiady-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.text-under{
    font-family: Josefin Sans;
    font-size: 48px;
    font-weight: 400;
    margin-top: 0;
}
.faq *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.accordion .fa-chevron-down {
    transition: transform 0.3s ease; /* Płynna animacja */
}

.accordion.active .fa-chevron-down {
    transform: rotate(180deg); /* Obrót o 180 stopni */
}
.accordion{
    font-family: Sofia Sans;
    font-size: 36px;
    font-weight: 400;
    width: 100%;
    padding: 2rem 1.5rem;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion i{
    font-size: 1.2em;
}
.accordion1 i{
    font-size: 1.2em;
}
.pannel{
    padding: 0 2rem;
    overflow: hidden;
    display: none;
    max-height: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}
.pannel.active {
    display: block;
    max-height: 500px; /* Przykładowa wartość, dostosuj do treści */
    padding-top: 10px;
}

.pannel p{
    font-family: Josefin Sans;
    font-size: 38px;
    font-weight: 300;
    padding: 32px 24px;
}
.line {
    opacity: 0; /* Ukrywa linię domyślnie */
    transition: opacity 0.5s ease-in-out;
}

.line.active {
    display: block; 
    border: rgba(0, 0, 0.5) 1px solid; 
    opacity: 1;
}
.wrapper h2{
    font-family: Uchen;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
}
.wrapper{
    max-width: 75%;
    margin: auto;
}
.faq{
    margin-top: 10px;
    margin-bottom: 10px;
}
.accordion{
    background-color: rgba(222, 222, 222, 1);
    border-bottom: rgba(0, 0, 0.5) 1px solid;
}
.accordion1{
    background-color: rgba(222, 222, 222, 1);
    border-top: rgb(0, 0, 0) 1px solid;
    border-bottom: rgba(0, 0, 0.5) 1px solid;
}
.footer-line{
    border: solid black 1px;
    margin-bottom: 250px;
    margin-top: 100px;
}
.block{
    display: block;
}

.right-side {
    font-family: Josefin Sans;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}

.sub-title {
    color: red;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px; /* Odstęp między tytułem a tekstem */
    text-align: left;
}

.text-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 694px;
    margin-top: 60px;
    margin-right: 150px;
}
@media (max-width: 1700px) {
    .jego-historia-zyciowa{
        height: 30vh;
        padding: 75px 10% 180px 10%;
    }
    .text-container{
       margin-right: 50px;
    }
    .history-text{
        font-size: 22px;
        line-height: 20px;
    }
    .img-n-arrow-text img{
        width: 502.5px;
    }
}
@media (max-width: 1550px) {
    .text-container{
       margin-right: 5px;
    }
}
@media (max-width: 1500px) {
    .jego-historia-zyciowa{
        height: 30vh;
        padding: 20px 10% 200px 10%;
    }
}
@media (max-width: 1450px) {
    .book-container p{
        font-size: 20px;
        width: 500px;
    }
    .book3{
        margin-left: 50px;
    }
    .book1, .book2, .book3{
        scale: 0.75;
    }
    .text-container{
        width: 500px;
        margin-right: 5%;
    }
}
@media(max-width: 1350px) {
    .history-text{
        font-size: 18px;

    }
    .text-over{
        margin-top: 15px;
    }
}
@media (max-width: 1310px) {
    .text-under-top{
        display: block;
        text-align: center;
    }
    .nike-text{
        display: flex;
        justify-content: center;
    }
    .witkowski-text-img{
        margin: 0;
    }
    .web-top-container{
        background-size: 700px;
    }
}
@media (max-width: 1285px) {
    .wywiady{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width: 1260px) {
    .book-container p{
        font-size: 20px;
        width: 400px;
    }
    .text-container{
        width: 400px;
        margin-right: 0.5%;
    }
    .main-img{
        height: 450px;
    }
}
@media (max-width: 1225px) {
    .main-img{
        
    }
    .nike-text{
        font-size: 70px;
        align-items: center;
    }
}
@media (max-width: 1154px) {
    .wywiady-title{
        text-align: center;
    }
    .wywiady-imgs{
    grid-template-columns: 1fr;
   }
}
@media (max-width: 1024px){
    .jego-historia-zyciowa{
        height: 45vh;
    }
}
@media (max-width: 1020px) {
    .web-top{
        display: block;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .under-title-name{
        text-align: center;
        margin-top: 30px;
    }
    .buttons{
        justify-content: center;
    }
    .app-icons{
        justify-content: center;
        margin-bottom: 30px;
    }
    .nav-links {
        display: none; 
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 60px; 
        right: 20px;
        background-color: #f8f9fa;
        width: 200px; 
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1001;
    }

    .nike-text img{
        width: 200px;
    }
    .nike-text{
        justify-content: center;
    }
    .nav-links a {
        font-size: 20px; 
        padding: 10px 0;
    }

    .hamburger {
        display: block; 
        cursor: pointer;
        font-size: 30px;
        z-index: 1001;
    }

    .nav-links.active {
        display: flex; 
    }
}
@media (max-width: 1000px){
    .book-container{
        display: none;
    }
    .book-container2{
        display: flex;
    }
}
@media (max-width: 940px) {
    .jego-historia-zyciowa-paragraphs{
        display: block;
    }
    .jego-historia-zyciowa{
        height: 50vh;
    }
    .text-over{
         margin-top: 20px;
    }
    .img-n-arrow-text img{
        width: 335px;
    }
    .history-text{
        margin-top: 15px;
    }
}
@media (max-width: 880px){
    .book-image{
        scale: 0.75;
    }
    .text-container2{
        margin-left: 450px;
    }
    .main-book{
        margin-right: 100px;
    }
}

/* Dla ekranów o szerokości mniejszej niż 768px */
@media (max-width: 768px) {
    .text-container {
        margin-right: 20px;
    }
}
@media (max-width: 750px){
    .jego-historia-zyciowa{
        height: 50vh;
    }
    .pannel p{
        font-size: 25px;
        padding: 10px;
        text-align: center;
    }
    .pannel{
        padding: 0 5px;
    }
}
@media (max-width: 705px) {
    .text-container2{
        transform: translateY(300px);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
    }
    .main-book{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .book-container2{
        height: 80vh;
    }
    .book-image{
        width: 250px;
        scale: 0.75;
        margin: 0;
    }
    .book-container2 p{
        width: 450px;
        text-align: center;
    }
    .book-thumbnail{
        width: 150px;
        scale: 0.75;
    }
    .book-bar{
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0;
    }
    .wywiady-title{
        margin-top: 200px;
    }
    .right-side2{
        margin: 0;
    }
}
@media (max-width: 688px) {
    .app-icons{
        gap: 40px;
    }

}
@media (max-width: 625px) {
    .text-container2{
        transform: translateY(300px);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
    }
}
@media (max-width: 585px) {
    .main-img{
        height: 300px;
    }
}
/* Dla ekranów o szerokości mniejszej niż 576px */
@media (max-width: 576px) {
    .text-container {
        margin-right: 10px;
    }
}
@media (max-width: 570px) {
    .book-image{
        margin: 0 25%;
    }
    .text-container2{
        transform: translateY(300px);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
    }
    .book-image{
        margin-left: 27%;
    }
    .book-container2{
        height: 80vh;
    }
    .jego-historia-zyciowa{
        height: 70vh;
        padding-bottom: 100px;
    }
}
@media (max-width: 550px) {
    .jego-historia-zyciowa{
        height: 75vh;
    }

}
@media (max-width: 480px){
    .book-container2 p{
        font-size: 15px;
        width: 300px;
        margin-bottom: 0;
    }
    .text-container2{
        transform: translateY(300px);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
    }
}
@media (max-width: 475px){
    .book-image{
        margin-left: 22%;
    }
    .jego-historia-zyciowa{
        height: 100vh;
        padding-bottom: 180px;
    }
    .book-container2{
        height: 80vh;
    }
    .wywiady-title{
        margin-top: 200px;
    }
    .nike-text{
        display: block;
        text-align: center;
    }
    .web-top-container{
        background-size: 500px;
    }
}
@media (max-width: 430px){
    .book-image{
        margin-left: 22%;
    }
    .book-container2{
        height: 80vh;
    }
    .jego-historia-zyciowa{

        padding-bottom: 170px;
    }
    .witkowski-text-img{
        width: 280px;
    }
    .title-name{
        font-size: 80px;
    }
}
@media (max-width: 440px) {
    .book-image{
        width: 250px;
        scale: 0.75;
        margin: 0 15%;
    }
    .buttons{
        display: block;
    }
    .jego-historia-zyciowa{
        height: 130vh;
    }
    .wywiady-title{
        margin-top: 200px;
    }
}

@media (max-width: 414px){
    .book-image{
        margin-left: 20%;
    }
    .jego-historia-zyciowa{
        height: 80vh;
        padding-bottom: 300px;
    }
}
@media (max-width: 405px){
    .main-img{
        height: 200px;
    }
}
@media (max-width: 390px){
    .book-image{
        margin-left: 19%;
    }
    .book-container2{
        height: 120vh;
    }
    .img-n-arrow-text img{
        width: 260px;
    }
    .wrapper h2{
        font-size: 40px;
    }

    .btn1{
        padding-left: 10%;
        padding-right: 10%;
    }
    .web-top{
        padding: 0;
    }

}
@media (max-width: 375px){
    .book-image{
        margin-left: 17%;
    }
    .book-container2{
        height: 150vh;
    }
}
@media (max-width: 360px){
    .book-image{
        margin-left: 17%;
    }
    .book-container2{
        height: 130vh;
    }
}
@media (max-width: 344px){
    .book-image{
        margin-left: 15%;
    }
    .book-container2{
        height: 110vh;
    }
    .jego-historia-zyciowa{
        height: 100vh;
    }
    .text-over{
        font-size: 20px;
    }
}